
<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="'Cluster'">
  <ion-content ng-controller="ClusterCtrl">
  <ion-list>
    <ion-item>
      <div class="n-vantage-point">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">Cluster CPU Usage</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">{{clusterSummary.totalCPUInPercentDispStr}}<span class="n-stats-unit">%</span></div>
            <span class="lblResource">{{clusterSummary.totalCPUFrequencyDispStr}}</span>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="n-vantage-point n-vantage-point-metric n-vantage-point-timeline-metric n-action-enabled">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">Cluster Memory Usage</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">{{clusterSummary.totalMemoryPercentDispStr}}<span class="n-stats-unit">%</span></div>
            <span class="lblResource">OF {{clusterSummary.totalmemoryCapacityDispStr}}</span>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="n-vantage-point n-vantage-point-metric n-vantage-point-timeline-metric n-action-enabled">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">VM Summary</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">{{clusterSummary.totalVMs}}</div>
            <span class="lblResource">VMS</span>
          </div>
        </div>
      </div>
    </ion-item>
    <div
      class="n-vantage-point n-vantage-point-metric n-vantage-point-timeline-metric n-action-enabled">
      <div class="n-vantage-point-metric-small">
        <div class="n-title">Alerts</div>
        <div class="n-metric-value-alerts">
          <div class="n-h3 critical">16</div>
          <span class="lblResource">CRITICAL</span>
        </div>
        <div class="n-metric-value-alerts">
          <div class="n-h3 warning">4</div>
          <span class="lblResource">WARNING</span>
        </div>
      </div>
    </div>
    <ion-item>

    </ion-item>
    <ion-item> MORE </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
