
<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="'Cluster'">
  <ion-content ng-controller="ClusterCtrl">
  <ion-list>
    <ion-item>
      <div class="n-vantage-point">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">Cluster CPU Usage</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">37.69<span class="n-stats-unit">%</span></div>
            <span class="lblResource">OF 1.07 THz</span>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="n-vantage-point n-vantage-point-metric n-vantage-point-timeline-metric n-action-enabled">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">Cluster Memory Usage</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">29.59<span class="n-stats-unit">%</span></div>
            <span class="lblResource">OF 255.96 GIB</span>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="n-vantage-point n-vantage-point-metric n-vantage-point-timeline-metric n-action-enabled">
        <div class="n-vantage-point-metric-small">
          <div class="n-title">VM Summary</div>
          <div class="n-metric-value">
            <div class="n-h3 lblValue">{{vms.length}}</div>
            <span class="lblResource">VMS</span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
