<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/van.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <script src="js/FbClustersSrv.js"></script>
    <script src="js/FbClustersSummarySrv.js"></script>
    <script src="js/FbVMsSrv.js"></script>
    <script src="js/FbAlertsSrv.js"></script>

    <script src="js/ClusterCtrl.js"></script>
    <script src="js/ClustersCtrl.js"></script>
    <script src="js/SideBarCtrl.js"></script>
    <script src="js/NavBarCtrl.js"></script>
    <script src="js/AlertsCtrl.js"></script>
  </head>
  <body ng-app="starter">
  <div id="n-content-wrapper">

    <ion-side-menus>
      <!-- Center content -->
      <ion-side-menu-content>
        <ion-nav-bar
            ng-controller="NavBarCtrl"
            delegate-handle="myNav">
          <ion-nav-buttons side="left">
            <button class="button icon ion-navicon button-clear"
                    ng-click="toggleLeftSideMenu()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view
          class="main-content-view">
        </ion-nav-view>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left"
        ng-controller="SideBarCtrl">
        <ion-list>
          <ion-item ng-click="onSelectCluster('All Clusters')">All Clusters</ion-item>
          <ion-item ng-repeat="cluster in clusters"
            ng-click="onSelectCluster(cluster)">
            {{cluster.name}}
          </ion-item>
        </ion-list>
      </ion-side-menu>

      <!-- Right menu -->
      <ion-side-menu side="right">
      </ion-side-menu>
    </ion-side-menus>
  </div>
  </body>
</html>
