<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/SideBarCtrl.js"></script>
    <script src="js/NavBarCtrl.js"></script>
  </head>
  <body ng-app="starter">
  <div id="n-content-wrapper">
    <div id="nav"
         ng-controller="NavBarCtrl">
      <label class="nav-trigger"
             ng-click="toggleLeftSideMenu()"></label>
      <!--     <a class="n-logo-link">
            <img src="images/header-logo.png">
          </a> -->
      <span class="n-nav-label">Summary</span>
    </div>

    <div class="nav-side-bar"
         ng-controller="SideBarCtrl">
      <ion-list>
        Nav Side Menu
        <ion-item ng-repeat="cluster in clusters">
          {{cluster.name}}
        </ion-item>
      </ion-list>
    </div>
    <div ng-view=""></div>
  </div>
  </body>
</html>
